/*pagina de error*/
.errorPage {
    margin: auto;
    color: #ff006e;
    text-align: center;
    padding-top: 10%;
}

.fa-solid {
    font-size: 50px;
    color: #ffbe0b;
}

.fa-regular {
    padding: 15px;
    font-size: 500%;
}

/*Barra de navegacion/header*/
.navbar {
    padding: 14px 16px;
    background: linear-gradient(#023047, #3a86ff)
}

.navbar__brand a {
    color: #282828;
    background-color: #ffbe0b;
    border-radius: 10px;
    padding: 3px 6px;
    align-items: center;
    text-decoration: none;
}

.navbar__brand a:hover {
    color: #e6e6e6;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
}

.d-flex {
    width: 30%;
    height: 5%;
    margin: auto;
    padding: 15px;
}



/*showList ListItem*/
.listitem {
    text-decoration: none;
    background-color: #ff006e;
    margin: 1rem 15px;
    cursor: pointer;
    color: #e5e5f7;
    display: inline-block;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 5px;
    transition: background 0.2s;
    transition: transform 0.3s ease-in-out;
}

img {
    border-radius: 10px;
    width: 180px;
    height: 210px;
    object-fit: cover;
}

.listitem:hover{
    transform: scale(1.1);
    color: #282828;
    background-color: #d66194;
}

.info__name {
    padding: 5px;
}

/*home list*/
.h__title {
    text-align: center;
    padding: 2%;
    font-family: fantasy;
}

.home__list {
    display: flexbox;
    justify-content: space-between;
    padding: 5px;
}